@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:wght@400;600;900&display=swap');

body {
      background-color: #0C0D0E;
      font-family: 'Source Sans 3', sans-serif;
      margin: 0px;
      height: auto;
    } 


header {
  display: flex;
  background-color: #FF007A;
  
}

nav {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 16px;
  padding: 100px;
  
  }

nav a {
  color: aliceblue;
  font-weight: 600;
  font-size: 16px;  
}

nav a:hover {
  color: #05FF00;
  cursor: pointer;
  
}

header img {
  margin-left: 30px;
  
}

.main {
  display: flex;
  background-color: #FF007A;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;
}

.main p {
  font-size: 100px;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 32px;
  margin: -10px;
  gap:20px;
}

.main .lemon p {
  color: #05FF00;
  margin-left:30px ;
  
}

.main .tittle {
  display: flex;
}

.spot {
  display: flex;
  flex-direction: column;
  background-color: #FF007A;
  background-image: url(../images/main\ image.png);
  background-repeat: no-repeat;
  justify-content: right;
  text-align: end;
  height: 571px;
  margin: 0px;
  margin-bottom: 0px;
}

.spot p {
  color: aliceblue;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 32px;
  margin: -10px;
  gap: 20px;
}

.spot .lemon p {
  color: #05FF00;
}

.turn {
display: flex;
background-color: black;
margin: 0px;
padding: 0px;
justify-content: center;

}

.turn p {
  font-size: 90px;
  color: #FF007A;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}

.services {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-align: center;
  justify-content: center;
  margin: 30px;
}

.services p {
font-weight: 600;
color: aliceblue;
font-size: 60px;
text-align: left;
line-height: 50px;
}


.services button {
  display: flex;
  width: 446px;
  height: 60px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #FF007A;
  background: rgba(46, 47, 47, 0.00);
  color: var(--white, #FFF);
  font-weight: bold;
}

.services .display {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about {
  width: 1325px;
  height: 467px;
  flex-shrink: 0;
  border-radius: 0px 180px;
  border: 2px solid #FF007A;
  background: #000;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

.about p {
  color: #FFF;
}

.about .tittle {
color: #FFF;
font-size: 50px;
font-style: normal;
font-weight: 900;
line-height: 62px; /* 124% */
letter-spacing: 15.5px;
text-transform: uppercase;
align-items: center;
text-align: center;
}

.about .text {
color: #D3D3DA;
text-align: justify;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 36px */
letter-spacing: 2.4px;
margin: 50px;
}

.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #FF007A;
  height: auto;
  align-items: center;
}

.portfolio p {
color: aliceblue;
font-size: 60px;
font-weight: 600;
letter-spacing: 2.4px;
text-transform: uppercase;

}

.portfolio img {
  width: 45px;
  height: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #FF007A;
}
.contact p {
  font-size: 60px;
  font-weight: 600;
  color: aliceblue;

}

.contact button {
display: flex;
width: 300px;
height: 59px;
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 16px;
background: #05FF00;
border: transparent;
color: #FF007A;
font-size: large;
font-weight: bold;
}

.contact .display {
  display: flex;
  flex-direction:row ;
  gap: 10px;
}

.contact .b {
  display: flex;
  width: 300px;
  height: 59px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 16px;
  background: aliceblue;
  border: transparent;
  color: #FF007A;
  font-size: large;
  font-weight: bold;
  }

  .build {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
  }

  .build .display {
    flex-direction: column;
  }

  .build .logo {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .build p {
    font-size: 30px;
    color: aliceblue;
    text-align: center;
  
  }