@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:wght@400;600;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ff007a;
  font-family: 'Source Sans 3', sans-serif;
  margin: 0px;
  height: auto;
  justify-content: center;
  padding: 20px 40px 40px;
}

html {
  scroll-behavior: smooth;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-top: 0px;
}

nav {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 16px;
  margin: 0px;
}

nav img {
  display: flex;
  padding: 0px;
}

nav a {
  color: aliceblue;
  font-weight: 600;
  font-size: 16px;
}

nav a:hover {
  color: #05ff00;
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero .hero-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero .hero-item img {
  width: 45px;
  height: 45px;
}

.lemon {
  color: #05ff00;
}

.hero .hero-item p {
  font-size: 100px;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 32px;
}

.spot {
  display: flex;
  flex-direction: column;
  background-color: #ff007a;
  background-image: url(../images/rebelmain.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 525px;
}

.spot p {
  color: aliceblue;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 32px;
}

.black-background {
  background-color: black;
}

.gray-background {
  background-color: #0c0d0e;
}

.flex {
  display: flex;
}

.d-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.d-row {
  flex-direction: row;
}

.gap-20 {
  gap: 20px;
}

.section-item {
  padding: 70px 0;
}

.title-ideas {
  font-size: 90px;
  color: #ff007a;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  padding: 20px;
}

.title {
  color: #fff;
  font-size: 50px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: 62px; /* 124% */
  letter-spacing: 15.5px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
}

.about-text {
  color: #d3d3da;
  text-align: justify;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 2.4px;
  margin: 0 50px;
}

.service-item {
  display: flex;
  width: 446px;
  height: 60px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid #ff007a;
  background: rgba(46, 47, 47, 0);
  color: var(--white, #fff);
  font-weight: bold;
  margin: 10px 0;
}

.build-section {
  font-size: 30px;
  color: aliceblue;
  text-align: center;
  font-weight: 600;
  padding: 140px 0;
}

.build-section .build-images {
  gap: 50px;
  margin-top: 40px;
}

.title-future {
  font-size: 76px;
  color: aliceblue;
}

.title-future p {
  margin-bottom: 20px;
}

/* .talk-button {
  padding: 16px 44px;
  border-radius: 16px;
  background-color: #ff007a;
  color: aliceblue;
  font-weight: bold;
  border: 0;
  font-size: 22px;
  cursor: pointer;
} */

.talk-button,
.talk-button *,
.talk-button :after,
.talk-button :before,
.talk-button:after,
.talk-button:before {
  border: 0 solid;
  box-sizing: border-box;
}

.talk-button {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: aliceblue;
  cursor: pointer;
  font-size: 22px;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, aliceblue);
  padding: 0;
}
.talk-button:disabled {
  cursor: default;
}
.talk-button:-moz-focusring {
  outline: auto;
}
.talk-button svg {
  display: block;
  vertical-align: middle;
}
.talk-button [hidden] {
  display: none;
}
.talk-button {
  background: linear-gradient(90deg, #ff007a, #05ff00);
  border-radius: 999px;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.8rem 5rem;
  position: relative;
}
.talk-button span {
  background: black;
  border-radius: 999px;
  color: #fff;
  display: grid;
  inset: 5px;
  place-items: center;
  position: absolute;
  transition: background 0.3s;
}
.talk-button:hover span {
  background: none;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ff007a;
}
.contact p {
  font-size: 60px;
  font-weight: 600;
  color: aliceblue;
  margin-bottom: 0px;
  margin-top: 0px;
}

.contact button {
  display: flex;
  width: 300px;
  height: 59px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #05ff00;
  border: transparent;
  color: #ff007a;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.contact .display {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 30px;
  margin-top: 0px;
}

.contact .b {
  display: flex;
  width: 300px;
  height: 59px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 16px;
  background: aliceblue;
  border: transparent;
  color: #ff007a;
  font-size: large;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 60px;
  justify-content: space-between;
}

footer .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .logo .displayA {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .firstrow img {
  width: 200px;
}

footer p {
  color: aliceblue;
}

footer .social {
  display: flex;
  gap: 10px;
}

footer ul {
  color: aliceblue;
}

footer .firstrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

footer .secondrow {
  display: flex;
  justify-content: right;
}

footer .social img {
  width: 100%;
}

footer .secondrow p {
  color: aliceblue;
  font-size: 16px;
}

.carrousel {
  display: flex;
  margin-bottom: 30px;
}

.carrousel img {
  width: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  height: 0px;
  max-height: 4px;
  background-color:#ff007a;
}

::-webkit-scrollbar-corner {
  background:#05ff00;
}
::-webkit-scrollbar-thumb {
background: #05ff00;
border-radius: 40px;
}

/* styles.css */
.modal {
  display: none; /* Inicialmente oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro semi-transparente */
  backdrop-filter: blur(5px);
  scroll-behavior: auto;
  overflow-y: auto;
}

.modal-content {
  background-color: #0c0d0e;
  border-radius: 16px;
  margin: 30px auto;
  padding: 20px;
  width: 90%;
  height: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
  float: right;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  background-color: #05ff00;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.greenghost {
  display: flex;
  justify-content: start;
  margin: 30px;
}

.form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: aliceblue;
  margin-left: 30px;
  flex-wrap: wrap;
}
.form-group img {
  width: 92px;
}

.form-group p {
  color: #05ff00;
  font-size: 32px;
  margin: 30px;
}

.form-group input {
  background: #2e2f2f;
  color: aliceblue;
}

.form-group .display {
  display: flex;
  flex-wrap: wrap;
}

.form-group .check {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-group .check p {
  font-size: 16px;
}

.checkbox-container input[type='checkbox'] {
  display: none;
}

/* Style the custom checkbox */
.checkbox-container .checkmark {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #2e2f2f;
  margin-right: 10px;
  position: relative;
}

/* Style the checked state of the custom checkbox */
.checkbox-container input[type='checkbox']:checked + .checkmark::before {
  content: url('../images/checkbox.png'); /* Unicode checkmark character */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}

/* Hover effect for the custom checkbox */
.checkbox-container:hover .checkmark {
  background-color: #2e2f2f;
}

.checkdisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.checkdisplay .block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  gap: 16px;
}

.form-group-check {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.form-group-check .checkdisplay {
  display: flex;
  color: aliceblue;
  gap: 10px;
  align-items: start;
  margin: 30px;
  margin-top: 16px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.form-group-check .checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group-check p {
  color: #05ff00;
  font-size: 32px;
  margin: 30px;
}

.description {
  background: #2e2f2f;
  color: aliceblue;
  width: 1200px;
  height: 500px;
}


form {
  display: flex;
  flex-direction: column;
  background-color: #0c0d0e;
  border-radius: 16px;
}

form button {
  width: 350px;
  padding: 16px;
  border-radius: 16px;
  border: 0px;
  background-color: #ff007a;
  color: #05ff00;
  margin: 30px;
}


form button:hover {
  background-color: #05ff00;
  color: #ff007a;
}


textarea {
  position: relative;
  width: 80%;
  height: 400px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #05ff00;
  border-radius: 5px;
  background-color: transparent;
  color: aliceblue;
  margin: 30px;
}

a {
  text-decoration: none;
}

input {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  padding: 16px;
  border: 0px;
  
}

.displayforms {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
}

.displayforms imput {
  border-radius: 16px;
}


